<header role="banner">  
    <a id="brand" href="/">
        <%# image_tag 'logo_long.jpg', id: 'main-logo' %>
        Rad Listing
    </a>    
    <div id="header-links-container">
        <ul id="header-links-list">
        </ul>
    </div>
</header>